body {
    margin: 0;
}

html {
    line-height: 1.15;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.page-wrapper {
    margin: 0 auto;
    width: 95%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo-wrapper {
    text-align: center;
}

.logo-wrapper img {
    max-width: 100%;
    height: auto;
}

.progress-wrapper {
    width: 1030px;
}

.card-wrapper,
.progress-wrapper {
    margin: 0 auto;
}

.card-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1030px;
    margin-bottom: 20px;
}

.icon {
    height: 20px !important;
    width: 20px !important;
    vertical-align: middle;
}

.table-title {
    border-bottom: 1px solid #fff;
    height: 50px;
}

.table-title td {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.table-right td:nth-child(2),
.table-left td:nth-child(1) {
    font-weight: bold;
}

table {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

th,
td {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border: none;
}

td {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

tr {
    height: 48px;
}

#progress_percent_text {
    line-height: 25px;
    text-align: center;
    position: relative;
}

.progress {
    position: relative;
    height: 25px;
    display: block;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}

.progress .determinate {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.progress {
    display: inline-block;
    vertical-align: baseline;
}

.card-panel,
.progress,
.progress .determinate {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.card-panel {
    width: 500px;
    display: block;
    padding: 12px 24px 12px 24px;
    height: 580px;
}

.card-panel,
.progress {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}